examples/sample_workflow.json
{
  "name": "AI-Generated Email Automation",
  "description": "Sample workflow generated by N8N-Sensei AI for email automation with weather data",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "New York"
            },
            {
              "name": "appid",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        }
      },
      "name": "Get Weather Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// AI-Generated function to format weather data\nconst weather = items[0].json;\nconst temp = Math.round(weather.main.temp);\nconst description = weather.weather[0].description;\nconst city = weather.name;\n\nconst emailContent = `\n🌤️ Good morning! Here's your daily weather update:\n\n📍 Location: ${city}\n🌡️ Temperature: ${temp}°C\n☁️ Conditions: ${description.charAt(0).toUpperCase() + description.slice(1)}\n\nHave a great day!\n\n---\nGenerated by N8N-Sensei 🥋\n`;\n\nreturn [{\n  json: {\n    subject: `Daily Weather Update - ${city} (${temp}°C)`,\n    content: emailContent,\n    temperature: temp,\n    description: description\n  }\n}];"
      },
      "name": "AI Format Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@n8n-sensei.com",
        "toEmail": "user@example.com",
        "subject": "={{$json[\"subject\"]}}",
        "text": "={{$json[\"content\"]}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Data": {
      "main": [
        [
          {
            "node": "AI Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Format Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "sample-weather-email",
  "meta": {
    "generated_by": "N8N-Sensei AI",
    "ai_provider": "llama",
    "creation_date": "2024-05-29",
    "sensei_version": "1.0.0",
    "description": "This workflow demonstrates AI-powered automation using N8N-Sensei. It fetches weather data daily and sends formatted email updates.",
    "features": [
      "Daily scheduling",
      "API integration",
      "AI-generated formatting",
      "Email automation"
    ]
  }
}